<ul class="navbar-nav">
    <% if(!currentUser) { %>
      <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
      </li>
    <% } else { %>
      <li class="nav-item">
          <a class="nav-link" href="#">Hello!! <%= currentUser.username %></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
      </li>
    <% } %>
</ul>