<ul class="navbar-nav">
  <% if(!currentUser) { %> 
    <li class="nav-item">
        <a class="nav-link" href="/user/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/register">Register</a>
    </li>
  <% } else { %>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= currentUser.firstname %> <%= currentUser.lastname %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/mywatchlist">My Watchlist</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/logout">Logout</a>
    </li>
  <% } %>
</ul>