<form class="form-group" action="/search/results" method="GET"> 
  <input type="text" class="form-control" name="searchquery" placeholder="Search Movie">
  <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i> Search</button>
</form>