<% include partials/header %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-film"></i> MovieSSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>  
</nav>

<div class="jumbotron">
  <h1 class="display-3">Hello, User!</h1>
  <p class="lead">This Web App is Created by Shivam Garg (161B214)</p>
  <p class="lead">3rd Year CSE Student</p>
  <hr class="my-4">

    <div style="font-size:2rem;">
        <strong>GitHub Repo:</strong> &nbsp;&nbsp; 
        <a href="https://github.com/sgshivamgarg8/Movies-Web-App"><i class="fab fa-github"></i></a>
    </div>   

  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us</a>
  </p>
</div>

<% include partials/footer %> 