<% include partials/header %> 

        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <% include partials/authheader %> 

            <!-- <form class="form-inline my-2 my-lg-0" action="/results" method="GET">
                <input class="form-control mr-sm-2" type="text" name="searchquery" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>  
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Contact Us Here</h1>
        <hr class="my-4">
        <p class="lead">G-Mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sgshivamgarg8@gmail.com</p>
        <p class="lead">Facebook:&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/profile.php?id=100010464668785"><i class="fab fa-facebook-square"></i></a> </p>
        <p class="lead">Instagram:&nbsp;&nbsp;<a href="https://www.instagram.com/sg.garg1998/"><i class="fab fa-instagram"></i></a> </p>
        
        <hr class="my-4">
    </div>
</div>

<% include partials/footer %> 