input{
    width: 300px;
    height: 43px;
}

.btn{
    margin: 5px 0;
}

.navbar{
	background:rgb(55,90,127);
	margin-bottom: 30px;

}

.navbar-dark .navbar-brand{
    color: black;
}

.year{
    opacity: .7; 
}

.col-lg-3{
	margin-bottom: 20px;
}

.card{
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px ;
}
