body{
	margin-top: 100px;
}

input{
	width: 300px;
	height: 43px;
}

.btn{
	margin: 5px 0;
}

.fixed-top{
	background:rgb(55,90,127);
	margin-bottom: 40px;
}

.navbar-dark .navbar-brand{
	color: black;
}

.year{
	opacity: .7; 
}

.col-lg-3{
	margin-bottom: 20px;
}

.card{
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px ;
}

@media(min-width: 576px){
	.block img{
		width: 100%;
		height: 360px;
	}
}

@media(max-width: 575px){
	.block img{
		width: 300px;
		height: 444px;
	}
	iframe{
		margin-top: 5px;
		width: 300px;
		height: 168px;
	}
}

.fa-facebook-square{
	color: #3C5A99;
}

.fa-instagram{
	color: #C13584;
}

hr{
	background: white;
	opacity: .1;
}

.votes{
	color: rgb(192, 192, 192);
	font-size: 0.5em;
}

.fa-star{
	color: rgb(228, 187, 36);
}

@media(min-width: 1201px){
	iframe{
		width: 720px;
		height: 405px;
		position: absolute;
		right: 10;
		top: 50%;
		transform: translate(0%, -50%);
	}
}

@media(min-width: 992px) and (max-width:1200px){
	iframe{
		width: 610px;
		height: 343px;
		position: absolute;
		right: 10;
		top: 50%;
		transform: translate(0%, -50%);
	}
}

@media(min-width: 992px){
	.rating{
		font-size: 2em;
		margin-bottom: 0;
	}
	.movietitle{
		font-weight: 600;
		font-size: 36px;
	}
	.fa-star{ 
		font-size: 1.5em;
		position: absolute;
		top: 50%;
		right: 0;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.rating1{
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);	
	}
	.votes{
		margin: 0;	
	}
}

@media(min-width: 768px) and (max-width:991px){
	.movietitle{
		font-weight: 600;
		font-size: 20px;
	}
	.rating{
		font-size: 1.5em;
		margin-bottom: 0;
	}
	.fa-star{ 
		font-size: 1.5em;
		position: absolute;
		top: 50%;
		right: 0;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.rating1{
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);	
	}
	.votes{
		margin: 0;	
	}
	iframe{
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translate(0%, -50%);
		width: 380px;
		height: 225px;
	}
}

@media(min-width: 576px) and (max-width:767px){
	iframe{
		margin-top: 10px;
		width: 510px;
		height: 287px;
	}
}

@media(max-width: 767px){
	.movietitle{
		font-weight: 600;
		font-size: 20px;
	}
	.rating{
		font-size: 2em;
		margin-bottom: 0;
	}
	.fa-star{
		position: absolute;
		top: 20%;
	}
	.rating1{
		font-size: .7em;
		margin-left: 10px;
	}
	.votes{
		margin-left: 10px;
	}
}

.max-rating{
	font-size: .5em;
	color: rgb(192, 192, 192);
}

@media(min-width:768px){
	.row2{
		margin-top: 30px;
	}
}

.row2{
	color: rgb(192, 192, 192);
}

.metacritic{
	position: relative;
}

@media(max-width:575px){
	.externalratings{
		font-size: .8rem;
	}
}

h2{
	color: rgb(223, 210, 210);
}

.castinfo, .plot{
	font-size: 1rem;
}

.universalacclaim{
	background: rgb(102, 204, 51);
}

.mixed{
	background: rgb(255, 204, 51);
}

.overwhelmingdislike{
	background: rgb(255, 0, 0);
}

.moviecard {
	box-shadow: 7px 12px 20px -5px rgba(0,0,0,0.56);
	transition: all ease 500ms;
}

.moviecard:hover{
	transform: scale(1.1);
	opacity: .8;
	cursor: pointer;
}